.Message {
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(2, 0, 0, 0.4);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
  }

.Message:last-of-type {
  order: 2;
}