.Soda {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
    background-image:url("../assets/beach.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
.Soda .Message {
    background-color: cadetblue;
    padding: 60px;
}

.Soda img {
    max-height: 300px;
}
